
#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.csproj.user
*.resharper*
*.suo

#Ignore merge conflict remnants
*.orig
